<div class="row">
  <div *ngFor="let user of users" class="col-sm-2">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <a target="_blank" href="{{ user.html_url }}" class="card-link">
          <img
            style="width: 80px; height: 80px; border-radius: 100%;"
            class="card-img-top"
            src="{{ user.avatar_url }}"
            alt="user.login"
        /></a>
        <h5 class="card-title">{{ user.login }}</h5>
        <a target="_blank" href="{{ user.html_url }}" class="card-link">{{
          user.html_url
        }}</a>
      </div>
    </div>
  </div>
</div>
