<form [formGroup]="form" (ngSubmit)="create(form)">
  <input
    type="text"
    formControlName="title"
    id="title"
    class="form-control col-sm-2"
  />
  <input
    formControlName="body"
    id="body"
    type="text"
    class="form-control col-sm-2"
  />
  <button class="btn btn-primary" type="submit">POST</button>
</form>

<div class="row">
  <div *ngFor="let post of posts" class="col-sm-2">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.id }}</h6>
        <p class="card-text">{{ post.body }}</p>
        <a (click)="delete(post)" href="#/" class="card-link">Delete</a>
        <a
          target="_blank"
          href="https://www.udemy.com/course/the-complete-angular-master-class/learn/lecture/7441146#overview"
          class="card-link"
          >Udemy</a
        >
      </div>
    </div>
  </div>
</div>
